selenium==4.21.0          # for web automation
pytest==8.2.1             # Python testing framework
pytest-xdist==3.6.1       # to run tests in parallel
openpyxl==3.1.2           # for working with Excel files
allure-pytest==2.13.2     # to generate Allure reports
webdriver-manager==4.0.0  # automatically manages browser drivers
pytest-html
